version: "3.9"

services:
  web:
    build: .
    image: tamaadeapi/web:latest
    env_file:
      - ./.env
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.production
      - PORT=${PORT:-8000}
    command: sh -lc "gunicorn config.wsgi:application --bind 0.0.0.0:${PORT:-8000} --workers 3 --log-level info --access-logfile - --error-logfile -"
    ports:
      - "${PORT:-8000}:8000"
    depends_on:
      - redis
    restart: always
    volumes:
      - static_volume:/code/staticfiles
      - media_volume:/code/mediafiles

  redis:
    image: redis:7

  celery:
    build: .
    restart: always
    command: celery -A config worker -l info
    volumes:
      - .:/code
    env_file:
      - ./.env
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.production
    depends_on:
      - redis
      - web

volumes:
  static_volume:
  media_volume:
